@import 'assets/index';

$width-container:1170px;

/*шрифт*/
$font-stack:"open sans";

/*Цвет*/
$color1:#000;
$color2:#fff;
$color3:#84c604;
$color4: #20b80b;

body{
    font-family: $font-stack;
}

body{
    margin: auto;
}
.container{
    width: $width-container;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
hr {
    margin: 10px 0 0;
}
.button{
    border: solid 1px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
}
.header .container {
    padding: 0;
}
.header__logo {
    padding: 9px 19px;
}
.header__info {
    display: flex;
    align-items: center;
    padding: 0 0 0 32px;
    margin-top: -3px;

    &--number {
        font-weight: 700;
        letter-spacing: 0.7px;
        margin: 0;
    }
    &--work-time {
        font-size: 11px;
        font-weight: 700;
        letter-spacing: -0.9px;
        margin: 0;
    }
    &--click {
        margin-left: 29px;
        padding: 7px 15px;
        border-color: $color3;
        margin-top: 0px;
        color: $color3;

        &:hover{
             background: $color3;
             color: $color2;
             cursor: pointer;
        }
    }

}

.nav{

    &__menu {
        display: flex;
        padding: 0;
        width: 100%;
        margin-bottom: 0;

        &--item{
            list-style: none;
            padding: 13px 28px;
            
            &:hover {
                background: $color3;
                color: $color2;
                cursor: pointer;
            }
        }
        
        &--refer {
            font-family: 'Open Sans';
            font-weight: 600;
            font-size: 14px;
            text-transform: uppercase;
            word-spacing: 2.8px;
        }
    }
}
.person{
    &__menu {
        display: flex;
        padding: 0;
        width: 100%;
        margin-bottom: 0;

        &--item{
            list-style: none;
            padding: 13px 28px;
            
            &:hover {
                background: $color3;
                color: $color2;
                cursor: pointer;
            }
        }
        
        &--refer {
            font-family: 'Open Sans';
            font-weight: 600;
            font-size: 14px;
            text-transform: uppercase;
            word-spacing: 2.8px;

            i{
                margin-right: 10px;
                font-size: 19px;
                vertical-align: middle;
                color: #20b80b;
                
            }
        }
    }

}

.banner{
    background: url(assets/img/banner.jpg);

    .container{
        padding-left: 0;
        padding-right: 0;
    }

    &--info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        padding-top: 130px;
        padding-left: 10px;
        padding-bottom: 150px;
    
        &--title{
            font-family: 'Lemon Tuesday';
            font-size: 106px;
            color: $color3;
            width: 650px;
            line-height: 0.95;
            margin-bottom: 50px;
            position: relative;

            &.banner--info--title:after {
                content: 'cкидка 15%';
                background: #d81f24;
                position: absolute;
                width: 140px;
                height: 140px;
                font-family: open sans;
                font-size: 29px;
                font-weight: 600;
                text-align: center;
                color: #fff;
                line-height: 35px;
                border-radius: 50%;
                top: -17px;
                right: -73px;
                padding: 40px 0;
            }
        }

        &--time{
            font-style: italic;
            font-size: 26px;
            margin-left: 8px;
            letter-spacing: -0.2px;
            color: $color2;
        }

        &--button{
            padding: 15px 72px;
            color: $color2;
            background: #fd4f10;
            border-color: #fd4f10;
            margin-top: 35px;
            font-size: 16px;
            margin-left: 7px;
            letter-spacing: 0.2px;
        }
    }
}
.section-title {
    font-family: 'Lemon Tuesday';
    font-size: 60px;
    text-align: center;

    &:after, &:before {
        content: "";
        background: url(assets/img/1.png) no-repeat;
        position: absolute;
        width: 120px;
        height: 60px;
        background-size: contain;
        background-position: 50%;
        margin-left: -140px;
    }
    &:after {
        margin-left: 20px;
        transform: scaleX(-1);
    }
}
.home__product {
    padding-top: 75px;
}
.product__list{
    margin-top: 30px;
    border-radius: 10px;
    padding: 0 10px;
    &--name {
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        padding: 20px 0 14px;
    }
    &--info {
        font-weight: 600;
        text-align: center;
        font-size: 12px;
        letter-spacing: -0.4px;
    }
    &--info-price {
        padding: 20px 0;
        font-size: 21px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    }


    &--button-by {
        background: #fd4f10;
        color: #fff;
        padding: 8px;
        text-align: center;
        width: 196px;
        margin: auto;
        letter-spacing: 0.7px;

        img {
            width: 25px;
            margin-left: 25px;
        }
    }
}
.product-list--image img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}


.footer{
    background: #1a2d34;

    .container{
        padding-top: 67px;
    }
    .row{
        justify-content: space-between;
    }
    
    &__item{
        
        &:nth-child(1){
            padding: 0 15px 0 0;
        }
        &:nth-child(2){
            padding: 2px 0 0 12px;
        }
        &:nth-child(3),&:nth-child(4),&:nth-child(5){
        padding: 2px 0 0 0;
        }

        &--menu {
            padding: 0;
        }
        &--menu-item{
            list-style:none;  
        }
        &--refer{
            font-size: 12px;
            color: #67919f;
        }
        &--title {
            color: #fff;
            font-size: 14px;
            margin-bottom: 8px;
        }
        &--column {
            display: flex;
        }

        &--copyright {
            color: #67919f;;
            font-size: 12px;
            text-transform: uppercase;
        }
        &--bottom-refer{
            
            font-size: 12px;
            color: #67919f;
        }
        
    }
}
