@charset "UTF-8";
@font-face {
  font-family: 'Lemon Tuesday';
  src: local("Lemon Tuesday"), local("LemonTuesday"), url("assets/fonts/Lemontuesday.woff2") format("woff2"), url("assets/fonts/Lemontuesday.woff") format("woff"), url("assets/fonts/Lemontuesday.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("assets/fonts/OpenSans-Light.ttf") format("truetype");
}

/* open-sans-300italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"), url("assets/fonts/OpenSans-LightItalic.ttf") format("truetype");
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("assets/fonts/OpenSans-RegularItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("assets/fonts/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local("Open Sans SemiBold Italic"), local("OpenSans-SemiBoldItalic"), url("assets/fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("assets/fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("assets/fonts/OpenSans-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url("assets/fonts/OpenSans-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: local("Open Sans ExtraBold Italic"), local("OpenSans-ExtraBoldItalic"), url("assets/fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
}

/*шрифт*/
/*Цвет*/
main {
  padding-top: 149px;
}

body {
  font-family: "open sans";
  margin: auto;
}

.container {
  width: 1170px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

hr {
  margin: 10px 0 0;
}

.button {
  border: solid 1px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
}

.header {
  position: fixed;
  background: #fff;
  left: 0;
  right: 0;
  z-index: 9999;
}

.header .container {
  padding: 0;
}

.header__logo {
  padding: 9px 19px;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 32px;
  margin-top: -3px;
}

.header__info--number {
  font-weight: 700;
  letter-spacing: 0.7px;
  margin: 0;
}

.header__info--work-time {
  font-size: 11px;
  font-weight: 700;
  letter-spacing: -0.9px;
  margin: 0;
}

.header__info--click {
  margin-left: 29px;
  padding: 7px 15px;
  border-color: #84c604;
  margin-top: 0px;
  color: #84c604;
}

.header__info--click:hover {
  background: #84c604;
  color: #fff;
  cursor: pointer;
}

.header .container:last-child .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav {
  padding-right: 0;
  margin-left: 20px;
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 100%;
  margin-bottom: 0;
}

.nav__menu--item {
  list-style: none;
  padding: 13px 33px;
}

.nav__menu--item:hover {
  background: #84c604;
  color: #fff;
  cursor: pointer;
}

.nav__menu--item:hover a {
  color: #fff;
  text-decoration: none;
}

.nav__menu--refer {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  word-spacing: 2.8px;
  color: #000;
}

.person__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  width: 100%;
  margin-bottom: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.person__menu--item {
  list-style: none;
  padding: 13px 33px;
}

.person__menu--item:hover {
  background: #84c604;
  color: #fff;
  cursor: pointer;
}

.person__menu--item:hover a {
  color: #fff;
  text-decoration: none;
}

.person__menu--refer {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  word-spacing: 2.8px;
  color: #000;
}

.person__menu--img {
  margin-right: 10px;
  vertical-align: middle;
}

.basket {
  position: relative;
}

.basket .basket-mini {
  content: '0';
  position: absolute;
  top: -5px;
  left: 12px;
  background: #fd4f10;
  padding: 0 4px;
  border-radius: 5px;
  height: 15px;
  color: #fff;
  line-height: 1.4;
  font-size: 12px;
}

.banner {
  background: url(assets/img/banner.jpg);
}

.banner .container {
  padding-left: 0;
  padding-right: 0;
}

.banner--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 130px;
  padding-left: 10px;
  padding-bottom: 150px;
}

.banner--info--title {
  font-family: 'Lemon Tuesday';
  font-size: 106px;
  color: #84c604;
  width: 650px;
  line-height: 0.95;
  margin-bottom: 50px;
  position: relative;
}

.banner--info--title.banner--info--title:after {
  content: 'cкидка 15%';
  background: #d81f24;
  position: absolute;
  width: 140px;
  height: 140px;
  font-family: open sans;
  font-size: 29px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  line-height: 35px;
  border-radius: 50%;
  top: -17px;
  right: -73px;
  padding: 40px 0;
}

.banner--info--time {
  font-style: italic;
  font-size: 26px;
  margin-left: 8px;
  letter-spacing: -0.2px;
  color: #fff;
}

.banner--info--button {
  padding: 15px 72px;
  color: #fff;
  background: #fd4f10;
  border-color: #fd4f10;
  margin-top: 35px;
  font-size: 16px;
  margin-left: 7px;
  letter-spacing: 0.2px;
}

.section-title {
  font-family: 'Lemon Tuesday';
  font-size: 60px;
  text-align: center;
  color: #32505a;
  letter-spacing: -0.7px;
}

.section-title:after, .section-title:before {
  content: "";
  background: url(assets/img/1.png) no-repeat;
  position: absolute;
  width: 120px;
  height: 60px;
  background-size: contain;
  background-position: 50%;
  margin-left: -140px;
}

.section-title:after {
  margin-left: 20px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.home__product {
  padding-top: 75px;
  padding-bottom: 75px;
}

.home__product .container {
  padding: 0;
  -webkit-transform: translateX(7px);
          transform: translateX(7px);
}

.product__list {
  margin-top: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 29px -4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 29px -4px rgba(0, 0, 0, 0.2);
  padding-bottom: 35px;
  position: relative;
}

.product__list--image {
  height: 228px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.product__list--image img {
  border-radius: 10px 10px 0 0;
}

.product__list--name {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  padding: 20px 0 14px;
  letter-spacing: -0.4px;
}

.product__list--info {
  font-weight: 600;
  text-align: center;
  font-size: 12px;
  letter-spacing: -0.4px;
}

.product__list--info-price {
  padding: 18px 0 20px;
  font-size: 21px;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.product__list--price sup {
  font-size: 12px;
}

.product__list--button-by {
  background: #fd4f10;
  color: #fff;
  padding: 8px 30px;
  text-align: left;
  width: 196px;
  margin: auto;
  letter-spacing: 0.7px;
  position: relative;
}

.product__list--button-by:hover {
  background: #84c604;
  cursor: pointer;
}

.product__list--button-by img {
  width: 25px;
  margin-left: 25px;
}

.product__list--button-by:after {
  content: url(assets/img/online-shopping-cart.svg);
  width: 26px;
  height: 27px;
  position: absolute;
  right: 24px;
  top: 5px;
}

.hit:after {
  content: 'хит';
  position: absolute;
  top: 11px;
  right: 13px;
  border-radius: 50%;
  font-weight: 700;
  color: #fff;
  background: #f05745;
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
  width: 55px;
  height: 55px;
  text-align: center;
  padding-top: 14px;
}

.veg:after {
  content: 'veg';
  position: absolute;
  top: 11px;
  right: 13px;
  border-radius: 50%;
  font-weight: 700;
  color: #fff;
  background: #469403;
  font-size: 16px;
  font-family: 'Roboto Slab', serif;
  width: 55px;
  height: 55px;
  text-align: center;
  padding-top: 14px;
}

.quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quantity-controls-min, .quantity-controls-max {
  font-family: open sans;
  font-weight: 100;
  font-size: 20px;
  border: 1px solid;
  border-radius: 50%;
  line-height: 0.4;
  width: 13px;
  height: 13px;
  text-align: center;
  color: #808080;
  cursor: pointer;
  margin-top: 10px;
}

.quantity-controls-min:hover, .quantity-controls-max:hover {
  color: #333333;
}

.quantity-controls-max {
  font-size: 15px;
  line-height: 0.7;
}

.quantity input[type="number"] {
  border: none;
  width: 40px;
  text-align: center;
  font-size: 14px;
  font-family: open sans;
}

.quantity input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.quantity input[type="number"]:focus {
  outline: none;
}

.about {
  padding-bottom: 145px;
}

.about .container {
  padding: 0;
}

.about__info {
  padding-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__info--text {
  font-size: 14px;
  padding: 0 45px 0 23px;
}

.about__info--text-bold {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 30px;
}

.about__info--image {
  padding: 0 10px;
  margin-top: 32px;
}

.footer {
  background: #1a2d34;
}

.footer .container {
  padding-top: 67px;
  padding-left: 0;
  padding-right: 0;
}

.footer .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .row:last-child {
  padding-top: 35px;
  padding-bottom: 35px;
}

.footer__item--menu {
  padding: 0;
}

.footer__item--menu-item {
  list-style: none;
}

.footer__item--refer {
  font-size: 12px;
  color: #67919f;
}

.footer__item--refer:hover {
  color: #fff;
  text-decoration: none;
}

.footer__item--title {
  color: #fff;
  font-size: 14px;
  margin-bottom: 8px;
}

.footer__item--column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__item--copyright {
  color: #67919f;
  font-size: 12px;
  text-transform: uppercase;
}

.footer__item--bottom-refer {
  text-decoration: underline;
  font-size: 12px;
  color: #67919f;
}

.footer__item--bottom-refer:hover {
  color: #fff;
}

.footer__top .footer__item {
  max-width: 200px;
  padding: 0 10px;
}

.footer__top .footer__item:nth-child(1) {
  min-width: 212px;
  padding-left: 25px;
}

.footer__top .footer__item:nth-child(2) {
  min-width: 220px;
  margin-top: 2px;
}

.footer__top .footer__item:nth-child(3) {
  margin-top: 33px;
  min-width: 110px;
}

.footer__top .footer__item:nth-child(4) {
  padding-top: 3px;
  min-width: 226px;
}

.footer__top .footer__item:nth-child(5), .footer__top .footer__item:nth-child(6) {
  padding-top: 2px;
  min-width: 124px;
}

.footer__bottom {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -9px 0 0;
}

.footer__bottom .footer__item:nth-child(3) {
  padding: 0;
}

.social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  text-align: right;
  float: right;
}

.social-icon__item {
  list-style: none;
  padding: 0 10px;
}

.social-icon__item:nth-child(3) {
  padding-right: 0;
}

.social-icon__item--refer {
  background: #8d969a;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 -3px;
}

.social-icon__item--refer:hover {
  background: #fff;
  text-decoration: none;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social-icon__item--refer:hover i {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social-icon__item--refer i {
  color: #1a2d34;
}
/*# sourceMappingURL=index.css.map */