@import 'assets/index';

$width-container:1170px;

/*шрифт*/
$font-stack:"open sans";

/*Цвет*/
$color1:#000;
$color2:#fff;
$color3:#84c604;
$color4: #20b80b;
main{
    padding-top: 149px;
}
body{
    font-family: $font-stack;
    margin: auto;
}

.container{
    width: $width-container;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
hr {
    margin: 10px 0 0;
}
.button{
    border: solid 1px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
}
.header{
    position: fixed;
    background: #fff;
    left: 0;
    right: 0;
    z-index: 9999;
    
    .container {
        padding: 0;
    }
}
.header__logo {
    padding: 9px 19px;
}
.header__info {
    display: flex;
    align-items: center;
    padding: 0 0 0 32px;
    margin-top: -3px;
    justify-content: flex-end;
    

    &--number {
        font-weight: 700;
        letter-spacing: 0.7px;
        margin: 0;
    }
    &--work-time {
        font-size: 11px;
        font-weight: 700;
        letter-spacing: -0.9px;
        margin: 0;
    }
    &--click {
        margin-left: 29px;
        padding: 7px 15px;
        border-color: $color3;
        margin-top: 0px;
        color: $color3;

        &:hover{
             background: $color3;
             color: $color2;
             cursor: pointer;
        }
    }

}
.header .container:last-child .row {
    justify-content: space-between;
}

.nav{
    padding-right: 0;
    margin-left: 20px;

    &__menu {
        display: flex;
        padding: 0;
        width: 100%;
        margin-bottom: 0;

        &--item{
            list-style: none;
            padding: 13px 33px;
            
            &:hover {
                background: $color3;
                color: $color2;
                cursor: pointer;

                a{
                    color:#fff;
                    text-decoration: none;
                }
            }
        }
        
        &--refer {
            font-family: 'Open Sans';
            font-weight: 600;
            font-size: 14px;
            text-transform: uppercase;
            word-spacing: 2.8px;
            color: #000;
        }
    }
}
.person{
    &__menu {
        display: flex;
        padding: 0;
        width: 100%;
        margin-bottom: 0;
        justify-content: flex-end;

        &--item{
            list-style: none;
            padding: 13px 33px;
            
            &:hover {
                background: $color3;
                color: $color2;
                cursor: pointer;

                a{
                    color:#fff;
                    text-decoration: none;
                }
            }
        }
        
        &--refer {
            font-family: 'Open Sans';
            font-weight: 600;
            font-size: 14px;
            text-transform: uppercase;
            word-spacing: 2.8px;
            color: #000;
        }

        &--img{
            margin-right: 10px;
            vertical-align: middle;
        }
    }

}
.basket{
    position: relative;
    .basket-mini {
        content: '0';
        position: absolute;
        top: -5px;
        left: 12px;
        background: #fd4f10;
        padding: 0 4px;
        border-radius: 5px;
        height: 15px;
        color: #fff;
        line-height: 1.4;
        font-size: 12px;
    }
}

.banner{
    background: url(assets/img/banner.jpg);
    
    .container{
        padding-left: 0;
        padding-right: 0;
    }

    &--info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        padding-top: 130px;
        padding-left: 10px;
        padding-bottom: 150px;
    
        &--title{
            font-family: 'Lemon Tuesday';
            font-size: 106px;
            color: $color3;
            width: 650px;
            line-height: 0.95;
            margin-bottom: 50px;
            position: relative;

            &.banner--info--title:after {
                content: 'cкидка 15%';
                background: #d81f24;
                position: absolute;
                width: 140px;
                height: 140px;
                font-family: open sans;
                font-size: 29px;
                font-weight: 600;
                text-align: center;
                color: #fff;
                line-height: 35px;
                border-radius: 50%;
                top: -17px;
                right: -73px;
                padding: 40px 0;
            }
        }

        &--time{
            font-style: italic;
            font-size: 26px;
            margin-left: 8px;
            letter-spacing: -0.2px;
            color: $color2;
        }

        &--button{
            padding: 15px 72px;
            color: $color2;
            background: #fd4f10;
            border-color: #fd4f10;
            margin-top: 35px;
            font-size: 16px;
            margin-left: 7px;
            letter-spacing: 0.2px;
        }
    }
}
.swiper-banner{
    padding-bottom:40px;
}
.section-title {
    font-family: 'Lemon Tuesday';
    font-size: 60px;
    text-align: center;
    color: #32505a;
    letter-spacing: -0.7px;

    &:after, &:before {
        content: "";
        background: url(assets/img/1.png) no-repeat;
        position: absolute;
        width: 120px;
        height: 60px;
        background-size: contain;
        background-position: 50%;
        margin-left: -140px;
    }
    &:after {
        margin-left: 20px;
        transform: scaleX(-1);
    }
}
.home__product {
    padding-top: 35px;
    
    .container{
        padding: 0;
        transform: translateX(7px);
    }
}
.product__list{
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 0 29px -4px rgba(0,0,0,0.2);
    padding-bottom: 35px;
    position: relative;

    &--image {
        height: 228px;
        overflow: hidden;
        border-radius: 10px 10px 0 0;

        img {
            border-radius: 10px 10px 0 0;
        }
    }
    

    &--name {
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        padding: 20px 0 14px;
        letter-spacing: -0.4px;
    }
    &--info {
        font-weight: 600;
        text-align: center;
        font-size: 12px;
        letter-spacing: -0.4px;
    }
    &--info-price {
        padding: 18px 0 20px;
        font-size: 21px;
        font-weight: 700;
        font-family: 'Roboto Slab', serif;
        display: flex;
        justify-content: space-around;
    }
    &--price {

        sup {
            font-size: 12px;
        }
    }

    &--button-by {
        background: #fd4f10;
        color: #fff;
        padding: 8px 30px;
        text-align: left;
        width: 196px;
        margin: auto;
        letter-spacing: 0.7px;
        position: relative;

        &:hover {
            background: #84c604;
            cursor: pointer;
        }

        img {
            width: 25px;
            margin-left: 25px;
        }
        &:after {
            content: url(assets/img/online-shopping-cart.svg);
            width: 26px;
            height: 27px;
            position: absolute;
            right: 24px;
            top: 5px;
        }
    }
}
.hit:after {
    content: 'хит';
    position: absolute;
    top: 11px;
    right: 13px;
    border-radius: 50%;
    font-weight: 700;
    color: #fff;
    background: #f05745;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    width: 55px;
    height: 55px;
    text-align: center;
    padding-top: 14px;
}
.veg:after {
    content: 'veg';
    position: absolute;
    top: 11px;
    right: 13px;
    border-radius: 50%;
    font-weight: 700;
    color: #fff;
    background: #469403;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    width: 55px;
    height: 55px;
    text-align: center;
    padding-top: 14px;
}
.quantity {
    display: flex;
    &-controls-min,&-controls-max {
        font-family: open sans;
        font-weight: 100;
        font-size: 20px;
        border: 1px solid;
        border-radius: 50%;
        line-height: 0.4;
        width: 13px;
        height: 13px;
        text-align: center;
        color: #808080;
        cursor: pointer;
        margin-top: 10px;
        &:hover{
            color: #333333; 
        }
       }
    &-controls-max{
        font-size: 15px;
        line-height: 0.7;
    }
    input[type="number"] {
        border: none;
        width: 40px;
        text-align: center;
        font-size: 14px;
        font-family: open sans;

        &::-webkit-inner-spin-button {
            display: none;
        }
        &:focus{
            outline: none;
        }
    }
}
.about{
    padding-bottom: 145px;
    padding-top: 75px;

    .container{
        padding: 0;
    }

    &__info{
        padding-top: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        &--text {
            font-size: 14px;
            padding: 0 45px 0 23px;
    
            &-bold{
                font-weight: 700;
                font-size: 24px;
                margin-bottom: 30px;
            }
        }

        &--image {
            padding: 0 10px;
            margin-top: 32px;
        }
    }

}

.footer{
    background: #1a2d34;
    
    .container{
        padding-top: 67px;
        padding-left: 0;
        padding-right: 0;
    }
    .row{
        justify-content: space-between;
        
        &:last-child {
            padding-top: 35px;
            padding-bottom: 35px;
        }
    }
    
    &__item{

        &--menu {
            padding: 0;
        }
        &--menu-item{
            list-style:none;  
        }
        &--refer{
            font-size: 12px;
            color: #67919f;

            &:hover {
                color: #fff;
                text-decoration: none;
            }
        }
        &--title {
            color: #fff;
            font-size: 14px;
            margin-bottom: 8px;
        }
        &--column {
            display: flex;
        }

        &--copyright {
            color: #67919f;;
            font-size: 12px;
            text-transform: uppercase;
        }
        &--bottom-refer{
            text-decoration: underline;
            font-size: 12px;
            color: #67919f;
            
            &:hover {
                color: #fff;
            }
        }
        
    }    
}
.footer__top{
    .footer__item{
        max-width: 200px;
        padding: 0 10px;

    &:nth-child(1) {
        min-width: 212px;
        padding-left: 25px;
    }
    &:nth-child(2) {
        min-width: 220px;
        margin-top: 2px;
    }
    &:nth-child(3) {
        margin-top: 33px;
        min-width: 110px;
    }
    &:nth-child(4) {
        padding-top: 3px;
        min-width: 226px;
    }
    &:nth-child(5),&:nth-child(6) {
        padding-top: 2px;
        min-width: 124px;
    }
}
}


.footer__bottom{
    align-items: center;
    margin: 0 -9px 0 0;

    .footer__item{

    &:nth-child(3) {
        padding: 0;
    }
}
}

.social-icon {
    display: flex;
    margin: 0;
    padding: 0;
    text-align: right;
    float: right;
    
    &__item {
        list-style: none;
        padding: 0 10px;
        &:nth-child(3){
            padding-right: 0;
        }
        &--refer {
            background: #8d969a;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0 0 -3px;

            &:hover {
                background: #fff;
                text-decoration: none;
                transform: scale(1.5);
                transition: 0.3s;
               
                & i{
                    transform: scale(1.1);
                    transition: 0.3s;
                }
            }

            i{
                color: #1a2d34;
            }
        } 
    }
}



/* swiper */

.swiper-product {
    padding-bottom: 60px;
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: medium;
}
.swiper-button-next, .swiper-button-prev {
    color: grey;
    top: auto;
    bottom: 0;
}
.swiper-button-next {
    right: 40%;
}
.swiper-button-prev {
    left: 40%;
}



.tab-content>.tab-pane {
    display: block !important;
    opacity: 0;
    height: 0px;
    width: 100%;
}
.tab-content>.active {
   height: initial; opacity: 1;
}
.swiper-pagination-bullet-active {
    background: #67b437;
}

.nav-tabs{
    border:none;
    margin-left: 0;
}
.nav-tabs .nav-link {
    color: #a7a7a7;
    font-weight: 700;
    padding-left: 0;
    padding-right: 50px;
}
.nav-tabs .nav-link.active {
    color: #fd5b22;
    font-weight: 700;
    border: none;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border-color: transparent;
}
.header__burger--mobile, .footer__item--title--mobile{
    display:none;
}

@media (max-width: 1200px) { 
    .nav__menu--item {
        padding: 13px 10px;
    }
    .about__info {
        align-items: flex-start;
    }
    .footer__top .footer__item {
        max-width: 200px;
        padding: 0 10px;
    }
    .footer__top .footer__item:nth-child(1),.footer__top .footer__item:nth-child(4) {
        padding-left: 30px;
    }
    .footer__top .footer__item {
        max-width: 100%;
        width: 30%;
        padding: 0;
    }
    .social-icon {
        float: none;
    }
}
@media (max-width: 991px) { 
    .header .container:last-child {
        max-width: 100%;
        & .row {
            justify-content: center;
        }
    }

}
@media (max-width: 767px) { 
    .banner--info--title {
        font-size: 72px;
        width: 100%;
        line-height: 1.2;
        margin-bottom: 25px;
    }
    .container {
        max-width: 94%;
        margin: 0 auto;
        padding: 0;
    }
    .banner .container {
        margin: 0 15px;
    }
    .banner--info--time {
        font-size: 18px;
    }
    .header__burger--mobile{
        display:block;
        padding-left: 35px;
    }
    .header .container:first-child {
        max-width: 100%;
    }
    .header__info--mobile{
        display:none;
    }
    .header__logo {
        text-align: center;
    }
    .header__logo img {
        width: 150px;
    }
    .header-row {
        align-items: baseline;
        margin-top: 10px;
    }
    .nav {
        position: absolute;
        background: red;
        width: 75%;
        top: 0;
        left: 0;
        margin: 0;
        height: 100%;
        display: none;
    }
    .person__menu--refer{
        font-size: 0;
    }
    .person__menu {
        position: absolute;
        top: 0;
        right: 0;
    }
    .person__menu--item {
        padding: 25px 10px 0;
    }
    hr {
        margin: 2px 0;
    }
    main{
        padding-top: 85px;
    }
    .banner--info {
        padding-top: 52px;
        padding-left: 10px;
        padding-bottom: 65px;
    }
    .banner {
        background-position: bottom;
    }
    .banner--info--title.banner--info--title:after {
        width: 95px;
        height: 95px;
        font-size: 19px;
        line-height: 24px;
        top: 15px;
        right: -155px;
        padding: 31px 5px;
    }
    .banner--info--button {
        padding: 15px 43px;
        margin-top: 7px;
        margin-left: 0px;
    }
    .swiper-banner {
        padding-bottom: 15px;
    }
    .section-title {
        font-size: 48px;
    }
    .section-title:after, .section-title:before {
        width: 95px;
        margin-left: -120px;
    }
    .section-title:after {
        margin-left: 20px;
    }
    .product__list--image {
        height: 210px;
    }
    .about__info--image {
        display: none;
    }
    .about {
        padding-bottom: 30px;
    }
    .footer__item--menu {
        display: none;
    }
    footer.footer .footer__top .footer__item {
        width: 100%!important;
        padding: 0;
        margin: 0;
    }
    .footer__item--title--mobile{
        display:block;
    }
    .footer .container {
        padding-top: 0;
        margin: 0;
        max-width: 95%;
    }
    .footer__item--title {
        padding: 17px 40px;
        border-bottom: solid 2px #20353d;
        font-size: 16px;
    }
    .footer__item:last-child .footer__item--title {
        border:none;
    }
    .footer .row:last-child {
        padding-bottom: 25px;
    }
    .footer__item--copyright {
        padding-left: 25px;
    }
    .social-icon__item {
        padding: 0 6px;
    }
    .social-icon__item--refer {
        width: 22px;
        height: 22px;
    }
}


@media (max-width: 539px) { 
    .about .section-title:after, .about .section-title:before {
        content: none;
    }
}